html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color-gray-100: rgba(255, 255, 255, 0.88);
  --color-gray-200: #f8f9fa;
  --color-gray-400: #818181;
  --color-gray-600: #2d2d30;
  --color-gray-900: #0d0c0c;
  --color-gray-950: #111;

  --bg: #24272c;
  --ansi-green: #98c379;
  --ansi-red: #e06c75;

  --input-padding: 0.4rem;

  --gap: 0rem;
  --header-height: 4rem;
}

@media (min-width: 768px) {
  :root {
    --gap: 1rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --gap: 2rem;
  }
}

body,
html {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: monospace;
  background-color: var(--color-gray-950);
  color: var(--color-gray-100);
  height: 100vh;
}

/*  layout */

header {
  height: var(--header-height);
  padding: 0 var(--gap);

  h1 {
    line-height: var(--header-height);
    margin: 0;
  }
}

#container {
  position: relative;
  height: calc(100vh - var(--header-height));
  padding-top: 0;
}

#editor-container {
  position: absolute;
  top: 0;
  bottom: var(--gap);
  left: var(--gap);
  right: 50%;
}

#console {
  position: absolute;
  top: 0;
  bottom: var(--gap);
  left: 50%;
  right: var(--gap);
  padding-left: var(--gap);
}

#editor-container {
  padding: calc(var(--gap) / 2) 0;
  background-color: var(--color-gray-900);
  border: solid 2px var(--color-gray-600);

  button {
    position: absolute;
    bottom: calc(var(--gap) / 2);
    right: calc(var(--gap) / 2);
  }
}

/* console input / output */
#editor {
  height: 100%;
}

#console {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--gap);
}

#output,
#input-container {
  padding: calc(var(--gap) / 2);
  background-color: var(--color-gray-900);
  border: solid 2px var(--color-gray-600);
}

#output {
  flex: 1;
  overflow-y: auto;
}

#output .command {
  padding-left: var(--input-padding);

  &::before {
    content: ">";
    position: relative;
    left: calc(-1 * var(--input-padding));
  }
}

#output {
  & > .success {
    color: var(--ansi-green);
  }

  & > .error {
    color: var(--ansi-red);
  }

  & > .log {
    color: var(--color-gray-400);
  }
}

#input-container form {
  display: flex;
  gap: var(--input-padding);
  align-items: center;

  input {
    background-color: transparent;
    color: var(--color-gray-100);
    flex: 1;
  }
}

pre {
  white-space: pre-wrap;
}

/* formes */
input,
button {
  border: none;
  outline: none;
}

button {
  padding: 4px 12px;
  background-color: var(--color-gray-100);
  color: var(--color-gray-600);

  &:hover {
    background-color: var(--color-gray-200);
  }
}
